#modal_lite {
	padding: 10px;
	position: absolute;
	display: none;
	border: 1px solid #dedede;
}

.modal-lite-body {
	overflow-y: auto;
}

.modal-lite-header {
	position: relative;
}

.modal-lite-close {
	position: absolute;
	top: -5px;
	right: -3px;
}

.modal {
	display: none;
}